*
{
    margin: 0;
    padding: 0;
}

body
{
    height: calc(100dvh + 100px);
    width: calc(100dvw + 100px);
    transform: translate(-10px, -10px);
    overflow: hidden;
    font-family: monospace;
    word-break: break-all;
    background-color: #000000;
    color: rgb(109, 236, 109);
}